/* customize these values to tweak your experience */
:root {
  --dark-bg-color: #14171a;
  --light-fg-color: #ff7400; /* def #1da1f2 */
  /* colour transform vars
  you'll have to experiment to find the right values your fg color. I recommend setting these first, then sampling the colour for your light-fg-color value */
  --color-hue-rotation: 175deg;
  --color-brightness: 100%;
  --color-saturation: 200%;
  --color-contrast: 100%;
  --shelf-width: 500px;
  --app-margin: 8px;
  --app-border-color: #444;
  --app-border-radius: 12px;
  --app-border-width: 1px;
  --sidebar-button-radius: 50%;
  --main-font-color: #98a9b6;
  --main-font-face: 'Helvetica Neue';
  --main-font-weight: 200;
  --button-border-radius: 6px;
  --media-inline-height: 280px;
  --avatar-size: 64px;
  /* set to 50% for round avatars */
  --avatar-radius: 10%;
  --tweet-padding: 10px;
}

/* loading screen */
body {
  background-color: var(--light-fg-color);
}

.spinner-centered {
  filter: hue-rotate(var(--color-hue-rotation)) saturate(var(--color-saturation)) brightness(var(--color-brightness)) contrast(var(--color-contrast));
}
/* end loading screen */

html.dark body {
  background-color: var(--dark-bg-color);
}

html.dark .compose {
  border-radius: var(--app-border-radius) var(--app-border-radius) var(--app-border-radius) 0;
  transition: width 0.1s ease;
  width: 0;
}

html.dark .is-open .compose {
  width: var(--shelf-width);
}

html.dark .application,
html.dark .column-panel {
  background-color: var(--dark-bg-color);
}

html.dark .drawer {
  left: calc(var(--shelf-width) * -1);
  width: var(--shelf-width);
}

html.dark .app-content.is-open {
  transform: translateX(var(--shelf-width)) !important;
  margin-right: var(--shelf-width) !important;
}

html.dark .app-content {
  margin: var(--app-margin) 0;
}

html.dark .app-header {
  margin: var(--app-margin) 0;
  border-color: var(--app-border-color);
  border-style: solid;
  border-width: var(--app-border-width);
  border-radius: var(--app-border-radius);
}

html.dark .app-header.is-condensed .app-header-inner {
  background-color: transparent;
}

html.dark .column {
  border-color: var(--app-border-color);
  border-style: solid;
  border-width: var(--app-border-width);
  border-radius: var(--app-border-radius);
}

/*
  Default col width to 25%
*/
section.column {
  width: calc(25% - 5.25px);
}

/*
  Allow horizontal scrolling for over 8 cols
*/
html.dark .app-columns {
  overflow-x: scroll;
  width: 100%;
}

/*
  Dynamic Column Sizing
  Number = columns + 1
  Currently supports 8 cols
*/
section.column:first-child:nth-last-child(2),
section.column:first-child:nth-last-child(2) ~ section.column {
  width: calc(100% - 21px);
}

section.column:first-child:nth-last-child(3),
section.column:first-child:nth-last-child(3) ~ section.column {
  width: calc((100% / 2) - 10.5px);
}

section.column:first-child:nth-last-child(4),
section.column:first-child:nth-last-child(4) ~ section.column {
  width: calc((100% / 3) - 7px);
}

section.column:first-child:nth-last-child(5),
section.column:first-child:nth-last-child(5) ~ section.column {
  width: calc((100% / 4) - 5.25px);
}

section.column:first-child:nth-last-child(6),
section.column:first-child:nth-last-child(6) ~ section.column {
  width: calc((100% / 5) - 4.2px);
}

section.column:first-child:nth-last-child(7),
section.column:first-child:nth-last-child(7) ~ section.column {
  width: calc((100% / 6) - 3.5px);
}

section.column:first-child:nth-last-child(8),
section.column:first-child:nth-last-child(8) ~ section.column {
  width: calc((100% / 7) - 3px);
}

section.column:first-child:nth-last-child(9),
section.column:first-child:nth-last-child(9) ~ section.column {
  width: calc((100% / 8) - 2.625px);
}

html.dark .column-header {
  text-align: center;
}

html.dark {
  color: var(--main-font-color);
  font-family: var(--main-font-face);
  font-weight: var(--main-font-weight);
}

html.dark button {
  border-radius: var(--button-border-radius);
}

html.dark .media-size-medium {
  height: var(--media-inline-height);
}

html.dark .avatar {
  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: var(--avatar-radius);
}

html.dark .item-img {
  width: var(--avatar-size);
}

html.dark .tweet {
  padding-left: calc(var(--avatar-size) + var(--tweet-padding));
}

html.dark .tweet-img {
  margin-left: calc((var(--avatar-size) + var(--tweet-padding)) * -1);;
}

html.dark .tweet-button {
  border-radius: var(--sidebar-button-radius);
  margin-left: 1.25px;
}

html.dark .app-search-fake {
  border-radius: var(--sidebar-button-radius);
  border-color: var(--light-fg-color);
}

.app-search-fake .icon {
  color: var(--light-fg-color);
  line-height: 18px;
}

html.dark .column-nav-updates,
html.dark .app-nav-tab,
html.dark .app-nav-link,
html.btd-on .btd-settings-btn .icon,
html.dark .is-new .column-type-icon,
html.dark .column-title-back,
html.dark .other-replies-link,
html.dark .other-replies-link:hover,
html.dark a,
html.dark a:hover,
html.dark a:focus,
html.dark a:active,
html.dark .is-inverted-dark a,
html.dark .is-inverted-dark a:hover,
html.dark .is-inverted-dark a:focus,
html.dark .is-inverted-dark a:active,
html.dark .color-twitter-blue,
html.dark .is-selected.tweet-detail-action .icon-reply,
html.dark .follow-btn .Icon
{
  color: var(--light-fg-color);
}

html.dark .follow-btn button:hover .Icon {
	color: #1da1f2;
}

html.dark .stroke-twitter-blue {
  stroke: var(--light-fg-color);
}

html.dark .Button, html.dark button {
  border-color: var(--light-fg-color);
  color: var(--light-fg-color);
}

html.dark button:hover {
  border-color: #1da1f2;
  filter: hue-rotate(var(--color-hue-rotation)) saturate(var(--color-saturation)) brightness(var(--color-brightness)) contrast(var(--color-contrast));
}

html.dark .more-tweets-glow {
  background: radial-gradient(ellipse farthest-corner at 50% 100%, var(--light-fg-color) 0%, var(--light-fg-color) 25%, rgba(255,255,255,0) 75%);
}

html.dark .sprite-verified-mini,
html.dark .sprite-verified,
html.dark .spinner-button-icon-spinner,
html.dark .spinner-small,
html.dark .sprite:not(.tweet-dogear),
html.dark Button.Button--primary {
  filter: hue-rotate(var(--color-hue-rotation)) saturate(var(--color-saturation)) brightness(var(--color-brightness)) contrast(var(--color-contrast));
}

.js-action-unfollow {
  background-color: #fff !important;
  border-color: var(--light-fg-color) !important;
  color: var(--light-fg-color) !important;
  filter: none !important;
}

html.dark .tweet-button {
  width: 40px;
}

.btn-compose span {
  display: none;
}

html.dark .is-open .drawer::after {
  box-shadow: none;
}